body {
    width: 700px;
    margin: 0 auto;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 1.05;
    margin: 55px 0 10px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 1.57;
}

code {
    font-family: "Courier New", monospace;
}

img {
    width: 100%;
    max-width: 700px;
    margin: 43px 0 30px;
}

img.img1 {
    height: 727px;
}

img.img2 {
    height: 923px;
}

header .img0 {
    width: 97px;
    height: 64px;
}

ul {
    padding: 13px 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #1E2535;
    border-width: 1px 0;
    height: 50px;
}

li {
    display: inline-block;
    margin-right: 30px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #333;
    text-align: left;
    line-height: 1.5;
}

li a {
    text-decoration: none;
    color: #000;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 800px) {
    ul {
        height: 250px;
    }

    li {
        display: block;
        margin: 10px 0;
    }

    h1, h2 {
        margin: 25px 0 20px;
    }

    body {
        width: 520px;
        margin: 0 auto;
    }

    img {
        width: 100%;
        max-width: 520px;
        margin: 0 0 30px;
    }
}